snippet doc "docstring format" bA
"""
${1:description}
"""
$0
endsnippet

snippet print "print()" A
print($0)
endsnippet


snippet main "main template" bA
def main():
    ${0:pass}


if __name__ == "__main__":
    main()
endsnippet
